
body{
font-family:'Source Sans Pro', 'Times Roman';

/*background-image: url(../images/fondo.webp);*/

background-repeat: no-repeat;
background-size: cover;
background-color: cadetblue;
   
}
h1 {
    font-size: calc(1em + 1vw);
    line-height: 1em;
    padding: 1em;
    margin: 1em;}
.containter {
    color: white;
    
    
    padding: 0.5em;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
  
   
}
.item {
    
    padding: .5em;
    margin: .5em;
}
.item-1 {
    
    padding: .5em;
    margin: .5em;
}
h1{
font-family:Fjalla One, 'Times Roman';
font-weight: bold;

color: white; text-shadow: black 0.1em 0.1em 0.2em
}
h1{
font-size:3vw;
line-height:1.5;
letter-spacing:-.2px;
/*color: white;*/
}
h1 strong{
	color:white;
}
img{
    max-width: 200px;
	height: 200px;
	
	background-size:20% 20%;
    background-repeat:no-repeat;
    background-position-x: right;
}
